In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("../data/raw/ncr_rides_final_event_dataset_2024.csv")

In [4]:
df.head()

,datetime,Date,Time,year,month,day,weekday,hour,ride_date,Event,...,Avg CTAT,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23 12:29:38,2024-03-23,12:29:38,2024,3,23,Saturday,12,2024-03-23,Normal Day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29 18:01:39,2024-11-29,18:01:39,2024,11,29,Friday,18,2024-11-29,Wedding_Season,...,14.0,NaN,NaN,NaN,NaN,1.0,Vehicle Breakdown,NaN,NaN,UPI
2,2024-08-23 08:56:10,2024-08-23,08:56:10,2024,8,23,Friday,8,2024-08-23,Monsoon,...,25.8,NaN,NaN,NaN,NaN,NaN,NaN,4.9,4.9,Debit Card
3,2024-10-21 17:17:25,2024-10-21,17:17:25,2024,10,21,Monday,17,2024-10-21,Normal Day,...,28.5,NaN,NaN,NaN,NaN,NaN,NaN,4.6,5.0,UPI
4,2024-09-16 22:08:00,2024-09-16,22:08:00,2024,9,16,Monday,22,2024-09-16,Normal Day,...,19.6,NaN,NaN,NaN,NaN,NaN,NaN,4.1,4.3,UPI

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160609 entries, 0 to 160608
Data columns (total 29 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   datetime                           160609 non-null  object
 1   Date                               160609 non-null  object
 2   Time                               160609 non-null  object
 3   year                               160609 non-null  int64
 4   month                              160609 non-null  int64
 5   day                                160609 non-null  int64
 6   weekday                            160609 non-null  object
 7   hour                               160609 non-null  int64
 8   ride_date                          160609 non-null  object
 9   Event                              160609 non-null  object
 10  Booking ID                         160609 non-null  object
 11  Booking Status                     160609 non-null  object
 12  Customer ID                        160609 non-null  object
 13  Vehicle Type                       160609 non-null  object
 14  Pickup Location                    160609 non-null  object
 15  Drop Location                      160609 non-null  object
 16  Ride Distance                      109329 non-null  float64
 17  Booking Value                      109329 non-null  float64
 18  Avg VTAT                           149402 non-null  float64
 19  Avg CTAT                           109329 non-null  float64
 20  Cancelled Rides by Customer        11254 non-null   float64
 21  Reason for cancelling by Customer  11254 non-null   object
 22  Cancelled Rides by Driver          28819 non-null   float64
 23  Driver Cancellation Reason         28819 non-null   object
 24  Incomplete Rides                   9663 non-null    float64
 25  Incomplete Rides Reason            9663 non-null    object
 26  Driver Ratings                     99666 non-null   float64
 27  Customer Rating                    99666 non-null   float64
 28  Payment Method                     109329 non-null  object
dtypes: float64(9), int64(4), object(16)
memory usage: 35.5+ MB

In [9]:
df.drop(['datetime','ride_date','Booking ID','Avg VTAT','Avg CTAT','Cancelled Rides by Customer','Reason for cancelling by Customer','Cancelled Rides by Driver','Driver Cancellation Reason','Incomplete Rides','Incomplete Rides Reason','Driver Ratings','Customer Rating','Payment Method'],inplace=True,axis=1)

In [10]:
df.columns

Index(['Date', 'Time', 'year', 'month', 'day', 'weekday', 'hour', 'Event',
       'Booking Status', 'Customer ID', 'Vehicle Type', 'Pickup Location',
       'Drop Location', 'Ride Distance', 'Booking Value'],
      dtype='object')

In [11]:
df.head()

,Date,Time,year,month,day,weekday,hour,Event,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Ride Distance,Booking Value
0,2024-03-23,12:29:38,2024,3,23,Saturday,12,Normal Day,No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN
1,2024-11-29,18:01:39,2024,11,29,Friday,18,Wedding_Season,Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,5.73,237.0
2,2024-08-23,08:56:10,2024,8,23,Friday,8,Monsoon,Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.58,627.0
3,2024-10-21,17:17:25,2024,10,21,Monday,17,Normal Day,Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,34.02,416.0
4,2024-09-16,22:08:00,2024,9,16,Monday,22,Normal Day,Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,48.21,737.0

In [12]:
df.drop(['Customer ID'],inplace=True,axis=1)

In [13]:
df.columns

Index(['Date', 'Time', 'year', 'month', 'day', 'weekday', 'hour', 'Event',
       'Booking Status', 'Vehicle Type', 'Pickup Location', 'Drop Location',
       'Ride Distance', 'Booking Value'],
      dtype='object')

In [14]:
df.head()

,Date,Time,year,month,day,weekday,hour,Event,Booking Status,Vehicle Type,Pickup Location,Drop Location,Ride Distance,Booking Value
0,2024-03-23,12:29:38,2024,3,23,Saturday,12,Normal Day,No Driver Found,eBike,Palam Vihar,Jhilmil,NaN,NaN
1,2024-11-29,18:01:39,2024,11,29,Friday,18,Wedding_Season,Incomplete,Go Sedan,Shastri Nagar,Gurgaon Sector 56,5.73,237.0
2,2024-08-23,08:56:10,2024,8,23,Friday,8,Monsoon,Completed,Auto,Khandsa,Malviya Nagar,13.58,627.0
3,2024-10-21,17:17:25,2024,10,21,Monday,17,Normal Day,Completed,Premier Sedan,Central Secretariat,Inderlok,34.02,416.0
4,2024-09-16,22:08:00,2024,9,16,Monday,22,Normal Day,Completed,Bike,Ghitorni Village,Khan Market,48.21,737.0

In [15]:
df.info

<bound method DataFrame.info of               Date      Time  year  month  day    weekday  hour  \
0       2024-03-23  12:29:38  2024      3   23   Saturday    12
1       2024-11-29  18:01:39  2024     11   29     Friday    18
2       2024-08-23  08:56:10  2024      8   23     Friday     8
3       2024-10-21  17:17:25  2024     10   21     Monday    17
4       2024-09-16  22:08:00  2024      9   16     Monday    22
...            ...       ...   ...    ...  ...        ...   ...
160604  2024-11-24  15:55:09  2024     11   24     Sunday    15
160605  2024-09-18  10:55:15  2024      9   18  Wednesday    10
160606  2024-10-05  07:53:34  2024     10    5   Saturday     7
160607  2024-10-05  07:53:34  2024     10    5   Saturday     7
160608  2024-03-10  15:38:03  2024      3   10     Sunday    15

                 Event   Booking Status   Vehicle Type  \
0           Normal Day  No Driver Found          eBike
1       Wedding_Season       Incomplete       Go Sedan
2              Monsoon        Completed           Auto
3           Normal Day        Completed  Premier Sedan
4           Normal Day        Completed           Bike
...                ...              ...            ...
160604  Wedding_Season        Completed        Go Mini
160605      Normal Day        Completed       Go Sedan
160606        Navratri        Completed           Auto
160607   Festive_Sales        Completed           Auto
160608  Wedding_Season        Completed  Premier Sedan

               Pickup Location      Drop Location  Ride Distance  \
0                  Palam Vihar            Jhilmil            NaN
1                Shastri Nagar  Gurgaon Sector 56           5.73
2                      Khandsa      Malviya Nagar          13.58
3          Central Secretariat           Inderlok          34.02
4             Ghitorni Village        Khan Market          48.21
...                        ...                ...            ...
160604        Golf Course Road         Akshardham          21.31
160605  Satguru Ram Singh Marg           Jor Bagh          15.93
160606               Ghaziabad         Saidulajab          45.54
160607               Ghaziabad         Saidulajab          45.54
160608         Ashok Park Main  Gurgaon Sector 29          21.19

        Booking Value
0                 NaN
1               237.0
2               627.0
3               416.0
4               737.0
...               ...
160604         1093.0
160605          852.0
160606          333.0
160607          333.0
160608          806.0

[160609 rows x 14 columns]>

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160609 entries, 0 to 160608
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             160609 non-null  object
 1   Time             160609 non-null  object
 2   year             160609 non-null  int64
 3   month            160609 non-null  int64
 4   day              160609 non-null  int64
 5   weekday          160609 non-null  object
 6   hour             160609 non-null  int64
 7   Event            160609 non-null  object
 8   Booking Status   160609 non-null  object
 9   Vehicle Type     160609 non-null  object
 10  Pickup Location  160609 non-null  object
 11  Drop Location    160609 non-null  object
 12  Ride Distance    109329 non-null  float64
 13  Booking Value    109329 non-null  float64
dtypes: float64(2), int64(4), object(8)
memory usage: 17.2+ MB

In [ ]:
np.set_printoptions(threshold=np.inf)
df['Booking Status'].unique()

Booking Status
Completed                99666
Cancelled by Driver      28819
Cancelled by Customer    11254
No Driver Found          11207
Incomplete                9663
Name: count, dtype: int64

In [ ]:
df['Vehicle Type'].unique()

array(['eBike', 'Go Sedan', 'Auto', 'Premier Sedan', 'Bike', 'Go Mini',
       'Uber XL'], dtype=object)

In [28]:
df['Booking Status'].value_counts()

Booking Status
Completed                99666
Cancelled by Driver      28819
Cancelled by Customer    11254
No Driver Found          11207
Incomplete                9663
Name: count, dtype: int64

In [30]:
df['Vehicle Type'].value_counts()

Vehicle Type
Auto             40066
Go Mini          31873
Go Sedan         29042
Bike             24108
Premier Sedan    19453
eBike            11285
Uber XL           4782
Name: count, dtype: int64

In [32]:
df['Booking Value'].count()

109329

In [37]:
df_with_price=df[df['Booking Value'].notnull()]
df_with_price['Booking Status'].value_counts()

Booking Status
Completed     99666
Incomplete     9663
Name: count, dtype: int64

In [38]:
df.dropna(subset=['Booking Value'],inplace=True)

In [41]:
df['Booking Value'].isnull().sum()

0

In [42]:
df

,Date,Time,year,month,day,weekday,hour,Event,Booking Status,Vehicle Type,Pickup Location,Drop Location,Ride Distance,Booking Value
1,2024-11-29,18:01:39,2024,11,29,Friday,18,Wedding_Season,Incomplete,Go Sedan,Shastri Nagar,Gurgaon Sector 56,5.73,237.0
2,2024-08-23,08:56:10,2024,8,23,Friday,8,Monsoon,Completed,Auto,Khandsa,Malviya Nagar,13.58,627.0
3,2024-10-21,17:17:25,2024,10,21,Monday,17,Normal Day,Completed,Premier Sedan,Central Secretariat,Inderlok,34.02,416.0
4,2024-09-16,22:08:00,2024,9,16,Monday,22,Normal Day,Completed,Bike,Ghitorni Village,Khan Market,48.21,737.0
5,2024-02-06,09:44:56,2024,2,6,Tuesday,9,Wedding_Season,Completed,Auto,AIIMS,Narsinghpur,4.85,316.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160604,2024-11-24,15:55:09,2024,11,24,Sunday,15,Wedding_Season,Completed,Go Mini,Golf Course Road,Akshardham,21.31,1093.0
160605,2024-09-18,10:55:15,2024,9,18,Wednesday,10,Normal Day,Completed,Go Sedan,Satguru Ram Singh Marg,Jor Bagh,15.93,852.0
160606,2024-10-05,07:53:34,2024,10,5,Saturday,7,Navratri,Completed,Auto,Ghaziabad,Saidulajab,45.54,333.0
160607,2024-10-05,07:53:34,2024,10,5,Saturday,7,Festive_Sales,Completed,Auto,Ghaziabad,Saidulajab,45.54,333.0
160608,2024-03-10,15:38:03,2024,3,10,Sunday,15,Wedding_Season,Completed,Premier Sedan,Ashok Park Main,Gurgaon Sector 29,21.19,806.0

In [46]:
df=df[df['Booking Status']=='Completed']

In [48]:
df['Booking Status'].value_counts()

Booking Status
Completed    99666
Name: count, dtype: int64

In [50]:
df['Booking Value'].value_counts().sum()

99666

In [53]:
df.to_csv('temp.csv',index=False)